# PostgreSQL
POSTGRES_USER=campost
POSTGRES_PASSWORD=campost
POSTGRES_DB=campost
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# Kafka
KAFKA_PORT=9092
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

# Kafka UI
KAFKA_UI_PORT=8080

# App services
CAMP_SERVICE_PORT=3001
REGISTRATION_SERVICE_PORT=3002
NEWS_SERVICE_PORT=3003
NOTIFICATION_SERVICE_PORT=3004
OUTBOX_POLL_INTERVAL_MS=1000
